---
layout: default
---

<div class="home">

    {% for post in paginator.posts %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <a href="{{post.url}}"><h1 class="post-title" itemprop="name headline">
            {{ post.title }}
        </h1></a>
        <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ post.content }}
      </div>

    </article>
    {% endfor %}

</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% endif %}

  {% if paginator.previous_page and paginator.next_page %}
    <span> - </span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% endif %}
</div>
{% endif %} 
